<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="relative pb-2 z-10" style="width: 95vw">
      <%- include('../../layouts/partials/Header', { sections: sections }) %>

      <div class="pb-10 border-b-2 border-black"><%- include('Section', { title: 'Hot News', articles: data.hotNews.slice(0, 5) }) %></div>

      <div class="pb-10 border-b-2 border-black">
        <%- include('Section', { title: 'Most Viewed Articles', articles: data.mostViewedArticles.slice(1, 5) }) %> <%- include('Banner', { article: data.mostViewedArticles[0], code: 1 }) %>
      </div>
      <div class="pb-10 border-b-2 border-black">
        <%- include('Section', { title: 'Latest Articles', articles: data.latestArticles.slice(1, 5) }) %> <%- include('Banner', { article: data.latestArticles[0], code: 2 }) %>
      </div>
      <div><%- include('Section10', { title: 'Top Sections', articles:data.topSections })%></div>
    </div>
  </body>
</html>
