<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="relative pb-2 z-10" style="width: 95vw">
      
    <%- include('CatsBar') %>
      
    <%- include('Section', { title: 'Most Viewed Articles', articles: data.mostViewedArticles.slice(1) }) %>
    <%- include('Banner', { article: data.mostViewedArticles[0], code: 1  }) %>


    <%- include('Section', { title: 'Latest Articles', articles: data.latestArticles.slice(1) }) %>
    <%- include('Banner', { article: data.latestArticles[0], code: 2  }) %>

    <%- include('Section', { title: 'Top Sections', articles: data.topSections.slice(1) }) %>
    <%- include('Banner', { article: data.topSections[0], code: 1 }) %>

    
    </div>
  </body>
</html>
