<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div><%- include('../../layouts/partials/HeaderTitle', { profile:profile }) %></div>
    <div><%- include('../../layouts/partials/Header', { sections: sections }) %></div>
    <div class="flex mx-[5%] lg:ml-[17%]">
      <div class="my-[5%] mt-[50px] flex lg:space-x-[5%] sm:space-x-[5%] h-[90vh] w-[80%]">
        <div class="h-[100vh] hidden sm:block sm:w-[40%]">
          <a href="/profile">
            <div class="flex space-x-6 p-4 hover:bg-[#F9F9F9] cursor-pointer">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}" stroke="currentColor" class="w-[24px]">
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z"
                  />
                </svg>
              </div>
              <div>Account Information</div>
            </div>
          </a>
          <a href="/profile/watched-articles">
            <div class="flex space-x-6 p-4 hover:bg-[#F9F9F9] cursor-pointer">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}" stroke="currentColor" class="w-[24px]">
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z"
                  />
                </svg>
              </div>
              <div>Watched Articles</div>
            </div>
          </a>
          <hr />
          <a href="/logout">
            <div class="flex space-x-6 p-4 hover:bg-[#F9F9F9] cursor-pointer">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}" stroke="currentColor" class="w-[24px]">
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15"
                  />
                </svg>
              </div>
              <div>Log Out</div>
            </div>
          </a>
        </div>

        <div class="w-[100%] md:w-[60%]">
          <div class="flex items-center bg-[#F9F9F9] p-[24px] space-x-[30px]">
            <div class="rounded-full h-[100px] w-[100px] overflow-hidden">
              <img
                src="https://scontent.fsgn19-1.fna.fbcdn.net/v/t1.30497-1/453178253_471506465671661_2781666950760530985_n.png?stp=dst-png_s200x200&_nc_cat=1&ccb=1-7&_nc_sid=136b72&_nc_eui2=AeE5rAIGBbWuNTJ8VBNUgiegWt9TLzuBU1Ba31MvO4FTUDbTPhgw156ODMHI3wjsu2AWBkJKWf8cPIQ0dcKJjA05&_nc_ohc=8yv9TBiBjIsQ7kNvgHefTpr&_nc_zt=24&_nc_ht=scontent.fsgn19-1.fna&_nc_gid=ApxmOVFo4Y8i9aNthD9hypb&oh=00_AYBgz0KrZ5BvnRshspd82RxSbECKoRDYIFdkNZi92uv3NQ&oe=67695D7A"
                alt=""
                class="object-cover h-full w-full"
              />
            </div>
            <div class="text-[14px] font-medium">
              <div class="text-[#888888]">DISPLAY NAME</div>
              <div class="text-[#0879BF]"><%=readerProfile.name%></div>
            </div>
          </div>
          <div class="font-bold text-[30px] mt-[70px] mb-[25px]">MANAGE ACCOUNT</div>
          <div class="">
            <div class="flex space-x-[27px] w-full mb-4">
              <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}" stroke="currentColor" class="w-[24px]">
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
                  />
                </svg>
              </div>
              <div class="border-b border-[#EEEEEE] pb-4 w-[100%]">
                <div class="text-[#8F918F] text-[14px] font-medium">EMAIL</div>
                <div><%= account.email %></div>
              </div>
            </div>
            <div class="flex space-x-[27px] w-full mb-4">
              <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}" stroke="currentColor" class="w-[24px]">
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z"
                  />
                </svg>
              </div>
              <div class="border-b border-[#EEEEEE] pb-4 w-[100%]">
                <div class="text-[#8F918F] text-[14px] font-medium">PASSWORD</div>
                <div>••••••••</div>
              </div>
            </div>
          </div>
          <div class="font-bold text-[30px] mt-[70px] mb-[25px]">Personal Information</div>
          <div class="">
            <div class="flex space-x-[27px] w-full mb-4">
              <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}" stroke="currentColor" class="w-[24px]">
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
                  />
                </svg>
              </div>
              <div class="border-b border-[#EEEEEE] pb-4 w-[100%]">
                <div class="text-[#8F918F] text-[14px] font-medium">FULL NAME</div>
                <div><%= readerProfile.name %></div>
              </div>
            </div>
            <div class="flex space-x-[27px] w-full mb-4">
              <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}" stroke="currentColor" class="w-[24px]">
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z"
                  />
                </svg>
              </div>
              <div class="border-b border-[#EEEEEE] pb-4 w-[100%]">
                <div class="text-[#8F918F] text-[14px] font-medium">DATE OF BIRTH</div>
                <div>
                  <%= (() => { const dob = new Date(readerProfile.dob); const month = String(dob.getMonth() + 1).padStart(2, '0'); const day = String(dob.getDate()).padStart(2, '0'); const year =
                  dob.getFullYear(); return `${month}/${day}/${year}`; })() %>
                </div>
              </div>
            </div>
            <div class="flex space-x-[27px] w-full mb-4">
              <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}" stroke="currentColor" class="w-[24px]">
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"
                  />
                </svg>
              </div>
              <div class="border-b border-[#EEEEEE] pb-4 w-[100%]">
                <div class="text-[#8F918F] text-[14px] font-medium">GENDER</div>
                <div>
                  <%= readerProfile.gender %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="layout" class=""><%- include('../../layouts/partials/Footer.ejs', { section1: sections.slice(0, 5), section2: sections.slice(5, 10) })%></div>
  </body>
</html>
