<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= section.name %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div><%- include('../../layouts/partials/Header', { sections: sections }) %></div>
    <div class="px-4 sm:px-[5%] lg:px-[11%] pb-[50px]">
      <div class="block mt-[50px]">
        <h1 class="text-center text-[34px]"><%= section.name %></h1>
      </div>
      <%- include('../../components/Article/ArticleCard.ejs') %>
      <%- include('../../components/Pagination/Pagination.ejs', { pagination, section }) %>
    </div>
    <div id="layout" class=""><%- include('../../layouts/partials/Footer.ejs', { title: 'Top Sections', articles:data.topSections })%></div>
  </body>
</html>
