<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= section.name %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div id="header-section-page" class="sticky top-0 w-full">
      <div><%- include('../../layouts/partials/HeaderTitle', { profile: profile }) %></div>
      <div><%- include('../../layouts/partials/Header', { sections: sections }) %></div>
    </div>
    <div class="flex justify-center items-center flex-col">
      <div class="">
        <h1 class="text-center text-5xl font-bold font-serif" style="padding-top: 30px; padding-bottom: 30px"><%= section.name %></h1>
      </div>
      <div class="flex flex-col justify-center items-center w-11/12" style="padding: 0px 20px">
        <% articles.forEach(article => { %>
        <%- include('../../components/Article/ArticleCard.ejs',{ article: article}) %>
        <% }) %>
      </div>
    </div>
    <div style="padding-top: 20px"><%- include('../../components/Pagination/Pagination.ejs', { pagination, section }) %></div>
    <%- include('../../layouts/partials/Footer.ejs', { section1: sections.slice(0, 5), section2: sections.slice(5, 10) })%>
    <%- include('../../components/subscriptionModal/subscription.ejs') %>
  </body>
</html>
