<div class="text-center text-lg py-4"><%= title %></div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  <div class="p-4 bg-white shadow-lg rounded-lg"><%- include('../../components/Newspaper/NewspaperCard')%></div>
  <div class="p-4 bg-white shadow-lg rounded-lg"><%- include('../../components/Newspaper/NewspaperCard')%></div>
  <div class="p-4 bg-white shadow-lg rounded-lg"><%- include('../../components/Newspaper/NewspaperCard')%></div>
  <div class="p-4 bg-white shadow-lg rounded-lg"><%- include('../../components/Newspaper/NewspaperCard')%></div>
</div>
