<div class="bg-black relative" style="margin-top: 50px; padding: 20px">
  <div id="footer-title">
    <div class="text-center text-xl text-white font-serif">THE</div>
    <div class="text-center text-3xl text-white font-serif">ELON MUSK</div>
  </div>
  <div id="footer-table">
    <div class="hidden sm:grid grid-cols-2 grid-rows-1 text-white border-b-2 border-b-white p-4 w-full">
      <div id="footer-section" class="flex justify-start items-center flex-col w-full">
        <div class="self-start font-serif text-lg">SECTION</div>
        <div class="grid grid-cols-2 w-full font-dancing text-gray-400">
          <div>
            <%section1.forEach((section) => {%>
            <div class="hover:text-gray-100 cursor-pointer">
              <a href="/section/<%=section.slug%>"><%=section.name%></a>
            </div>
            <%})%>
          </div>
          <div>
            <%section2.forEach((section) => {%>
            <div class="hover:text-gray-100 cursor-pointer">
              <a href="/section/<%=section.slug%>"><%=section.name%></a>
            </div>
            <%})%>
          </div>
        </div>
      </div>

        <div class="flex justify-start items-center flex-col w-full">
          <div class="self-start font-serif text-lg">MORE</div>
          <div class="grid grid-cols-2 w-full font-dancing text-gray-400">
            <div>
              <div class="hover:text-gray-100 cursor-pointer">
                <a href="/profile">Manage Account</a></div>
              </div>
            <div></div>
          </div>
        </div>




      </div>
      <!--  -->
      <div class="sm:hidden grid grid-cols-1 grid-rows-2 gap-4 text-white border-b-2 border-b-white p-4 w-full">
        <div id="footer-section" class="flex justify-start items-center flex-col w-full">
          <div class="self-start font-serif text-lg">SECTION</div>
          <div class="grid grid-cols-2 w-full font-dancing text-gray-400">
            <div>
              <%section1.forEach((section) => {%>
              <div class="hover:text-gray-100 cursor-pointer">
                <a href="/section/<%=section.slug%>"><%=section.name%></a>
              </div>
              <%})%>
            </div>
            <div>
              <%section2.forEach((section) => {%>
              <div class="hover:text-gray-100 cursor-pointer">
                <a href="/section/<%=section.slug%>"><%=section.name%></a>
              </div>
              <%})%>
            </div>
          </div>
        </div>

        <div class="flex justify-start items-center flex-col w-full">
          <div class="self-start font-serif text-lg">MORE</div>
          <div class="grid grid-cols-2 w-full font-dancing text-gray-400">
            <div>
              <div class="hover:text-gray-100 cursor-pointer">
                <a href="/profile">Manage Account</a></div>
              </div>
            <div></div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
