<style>
  .bookmarkBtn {
    width: 100px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
  }

  .IconContainer {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    transition-duration: 0.3s;
    background: #34fc73;
  }

  .icon {
    border-radius: 1px;
    fill: white;
  }

  .text {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

    transition-duration: 0.3s;
    font-size: 1.04em;
  }

  .bookmarkBtn:hover .IconContainer {
    width: 90px;
    transition-duration: 0.3s;
  }

  .bookmarkBtn:hover .text {
    transform: translate(10px);
    width: 0;
    font-size: 0;
    transition-duration: 0.3s;
  }

  .bookmarkBtn:active {
    transform: scale(0.95);
    transition-duration: 0.3s;
  }
  input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
  }

  input:-webkit-autofill:focus {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
  }
</style>

<% if (isSubscriber) { %>
  <div class="subcribeProfile flex items-center bg-white p-[24px] space-x-[30px] relative">
    <button class="absolute top-0 right-0 border border-[#CFC4C4] px-4 py-2 rounded-lg text-black font-normal" onclick="toggleFlipCard()">Cancel</button>
    <!-- Hình ảnh tròn của người dùng -->
    <div class="h-full relative">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 24" class="w-[30px] absolute fill-[#F09F33] right-0 -top-[8px]">
        <path d="m18 0 8 12 10-8-4 20H4L0 4l10 8 8-12z"></path>
      </svg>
      <div class="rounded-full h-[100px] w-[100px] overflow-hidden">
        <img
          src="https://scontent.fsgn19-1.fna.fbcdn.net/v/t1.30497-1/453178253_471506465671661_2781666950760530985_n.png?stp=dst-png_s200x200&_nc_cat=1&ccb=1-7&_nc_sid=136b72&_nc_eui2=AeE5rAIGBbWuNTJ8VBNUgiegWt9TLzuBU1Ba31MvO4FTUDbTPhgw156ODMHI3wjsu2AWBkJKWf8cPIQ0dcKJjA05&_nc_ohc=8yv9TBiBjIsQ7kNvgHefTpr&_nc_zt=24&_nc_ht=scontent.fsgn19-1.fna&_nc_gid=ApxmOVFo4Y8i9aNthD9hypb&oh=00_AYBgz0KrZ5BvnRshspd82RxSbECKoRDYIFdkNZi92uv3NQ&oe=67695D7A"
          alt=""
          class="object-cover h-full w-full"
        />
      </div>
    </div>
    <!-- Thông tin người dùng -->
    <div class="text-[20px] font-bold flex space-x-2">
      <div class="text-black">Edit Profile</div>
    </div>
  </div>
  <% } else { %>
  <div class="flex items-center bg-[#F9F9F9] p-[24px] space-x-[30px] relative">
    <button class="absolute top-0 right-0 border border-[#CFC4C4] px-4 py-2 rounded-lg text-black font-normal" onclick="toggleFlipCard()">Cancel</button>
    <!-- Hình ảnh tròn của người dùng -->
    <div class="h-full">
      <div class="rounded-full h-[100px] w-[100px] overflow-hidden">
        <img
          src="https://scontent.fsgn19-1.fna.fbcdn.net/v/t1.30497-1/453178253_471506465671661_2781666950760530985_n.png?stp=dst-png_s200x200&_nc_cat=1&ccb=1-7&_nc_sid=136b72&_nc_eui2=AeE5rAIGBbWuNTJ8VBNUgiegWt9TLzuBU1Ba31MvO4FTUDbTPhgw156ODMHI3wjsu2AWBkJKWf8cPIQ0dcKJjA05&_nc_ohc=8yv9TBiBjIsQ7kNvgHefTpr&_nc_zt=24&_nc_ht=scontent.fsgn19-1.fna&_nc_gid=ApxmOVFo4Y8i9aNthD9hypb&oh=00_AYBgz0KrZ5BvnRshspd82RxSbECKoRDYIFdkNZi92uv3NQ&oe=67695D7A"
          alt=""
          class="object-cover h-full w-full"
        />
      </div>
    </div>
    <!-- Thông tin người dùng -->
    <div class="text-[14px] font-medium">
      <div class="text-[#888888]">DISPLAY NAME</div>
      <div class="text-[#0879BF]"><%= readerProfile.name %></div>
    </div>
  </div>
  <% } %>
<form action="/edit-profile" method="POST">
  <div class="font-bold text-[30px] mt-[20px] mb-[25px]">MANAGE ACCOUNT</div>
  <div class="">
    <div class="flex space-x-[27px] w-full mb-4">
      <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}" stroke="currentColor" class="w-[24px]">
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
          />
        </svg>
      </div>
      <div class="border-b border-[#EEEEEE] w-[100%]">
        <div class="text-[#8F918F] text-[14px] font-medium">EMAIL</div>
        <input type="email" class="pb-4 border-0 bg-transparent focus:bg-transparent focus:ring-0 focus:outline-none py-0 pl-0 w-full flex items-center" name="email" value="<%= account.email %>" />
      </div>
    </div>
    <div class="flex space-x-[27px] w-full mb-4">
      <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}" stroke="currentColor" class="w-[24px]">
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z"
          />
        </svg>
      </div>
      <% if(account.localAuth && account.localAuth.username) { %>
      <div class="border-b border-[#EEEEEE] w-full">
        <div class="text-[#8F918F] text-[14px] font-medium">Username</div>
        <input type="text" class="pb-4 border-0 focus:ring-0 focus:outline-none py-0 pl-0 w-full" name="username" value="<%= account.localAuth.username %>" />
      </div>
      <% } %>
    </div>
  </div>
  <div class="font-bold text-[30px] mt-[70px] mb-[25px]">Personal Information</div>
  <div class="">
    <div class="flex space-x-[27px] w-full mb-4">
      <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}" stroke="currentColor" class="w-[24px]">
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
          />
        </svg>
      </div>
      <div class="border-b border-[#EEEEEE] w-[100%]">
        <div class="text-[#8F918F] text-[14px] font-medium">FULL NAME</div>
        <input type="text" class="pb-4 border-0 focus:ring-0 focus:outline-none py-0 pl-0 w-full" name="fullname" value="<%= readerProfile.name %>" />
      </div>
    </div>
    <div class="flex space-x-[27px] w-full mb-4">
      <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}" stroke="currentColor" class="w-[24px]">
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z"
          />
        </svg>
      </div>
      <div class="border-b border-[#EEEEEE] w-[100%]">
        <div class="text-[#8F918F] text-[14px] font-medium">DATE OF BIRTH</div>
        <input type="date" class="pb-4 border-0 focus:ring-0 focus:outline-none py-0 pl-0 w-full" name="dob" value="<%= readerProfile.dob.toISOString().split('T')[0] %>" />
      </div>
    </div>
    <div class="flex space-x-[27px] w-full mb-4">
      <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}" stroke="currentColor" class="w-[24px]">
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"
          />
        </svg>
      </div>
      <div class="border-b border-[#EEEEEE] pb-4 w-[100%]">
        <div class="text-[#8F918F] text-[14px] font-medium">GENDER</div>
        <select name="gender" id="gender" class="w-full">
          <!-- Display the default option based on readerProfile.gender -->
          <option value="male" <%= readerProfile.gender === 'male' ? 'selected' : '' %>>male</option>
          <option value="female" <%= readerProfile.gender === 'female' ? 'selected' : '' %>>female</option>
          <option value="other" <%= readerProfile.gender === 'other' ? 'selected' : '' %>>other</option>
        </select>
      </div>
    </div>
    <% if (error.length > 0) { %>
      <div class="text-red-500 text-center"><%= error %></div>
      <% } %>
    <div class="flex justify-center">
      <button type="submit" class="bookmarkBtn border border-black">
        <span class="IconContainer">
          <svg viewBox="0 0 384 512" height="0.9em" class="icon">
            <path
              d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"
            ></path>
          </svg>
        </span>
        <p class="text">Save</p>
      </button>
    </div>
  </div>
</form>
