<a href="/section/<%= article.sectionId.slug %>/article/<%= article.slug %>?isSubscribed=<%= article.isSubscribed %>">
  <div class="flex my-[38px] border-b border-[#E5E5E5] pb-[10px]">
    <div class="w-[60%] mr-auto">
      <div class="flex flex-wrap mb-2 space-x-2">
        <div class="font-bold">Tags:</div>
        <% article.tags.forEach(tag => { %>
        <div class="bg-[#B8B9BD] py-[5px] md:py-[2px] px-[10px] rounded-lg text-white font-bold text-[10px] lg:text-[16px] mb-2 whitespace-nowrap"><%= tag.name %></div>
        <% }) %>
      </div>
      <div>
        <h2 class="sm:text-[20px] my-[27px] font-bold <% if (article.isSubscribed) { %>text-red-500<% } %>"><%= article.title %></h2>
        <div class="font-bold">By <%= article.author.name %></div>
      </div>
      <div class="mt-2 text-[#959595] text-[14px]">
        <strong>Viewed At:</strong>
        <%= (() => { const date = new Date(article.viewedAt); const formattedDate = date.toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }); const formattedTime =
        date.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }); return `${formattedDate}, ${formattedTime}`; })() %>
      </div>
    </div>
    <div class="w-[30%]">
      <img class="w-[100%] h-[80%] lg:h-auto object-contain lg:object-cover lg:object-top" src="<%= article.images[0] %>" alt="<%= article.title %>" />
    </div>
  </div>
</a>
