<div class="flex flex-col jusitfy-between items-center z-0 h-full">
  <div id="card-image" class="h-2/5 bg-violet-400 bg-cover bg-no-repeat transition-all">
    <a href="/section/<%= section.slug %>/article/<%= article.slug %>?isSubscribed=<%= article.isSubscribed %>">
      <img class="h-full w-full object-cover" src="<%=article.images%>" alt="Image of <%= article.description%>" />
    </a>
  </div>
  <div id="card-content" class="z-0 relative h-3/5 flex flex-col justify-evenly bg-white">
    <div id="card-cat" class="absolute bg-red-600 font-serif text-white p-1 pl-2 pr-2 text-sm hover:bg-red-700 transition-all duration-300" style="top: -5%; left: 4%">
      <a href=""><%= article.section && article.section.name ? article.section.name : "Unknown section" %></a>
    </div>

    <div class="flex justify-start items-center flex-col h-full pt-4">
      <h1
        id="card-title"
        class="text-xl flex justify-start items-start font-bold font-serif hover:text-red-500 transition-all duration-300 <% if (article.isSubscribed) { %>text-red-500<% } %>"
        style="margin-bottom: 20px; margin-top: 20px"
      >
        <a href="/section/<%= section.slug %>/article/<%= article.slug %>?isSubscribed=<%= article.isSubscribed %>"> <%= article.title %> </a>
      </h1>

      <h1 id="card-description" class="text-lg h-full flex justify-start items-start italic font-serif hover:text-blue-800 transition-all duration-300">
        <a href="/section/<%= section.slug %>/article/<%= article.slug %>?isSubscribed=<%= article.isSubscribed %>"><%= article.description %> </a>
      </h1>
      <div id="card-author" class="flex justify-end items-center font-bold self-end text-sm w-full italic">
        <a href="" class="hover:text-blue-500">"<%= article.author && article.author.name ? article.author.name : 'Unknown author' %>"</a>
      </div>
    </div>
  </div>
</div>
